{
    "root": true,
    "env": {
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "tsconfig.json"
    },
    "extends": ["airbnb-base", "airbnb-typescript/base", "prettier"],
    "rules": {
        "@typescript-eslint/consistent-type-imports": ["error", {
            "prefer": "type-imports",
            "fixStyle": "inline-type-imports"
        }],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "./tests/**/*.ts",
                    "./vitest.config.ts"
                ]
            }
        ],
        "import/prefer-default-export": "off"
    }
}
